In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv('online_shoppers_intention.csv')

In [3]:
df.head()

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend,Revenue
0,0,0.0,0,0.0,1,0.000000,0.20,0.20,0.0,0.0,Feb,1,1,1,1,Returning_Visitor,False,False
1,0,0.0,0,0.0,2,64.000000,0.00,0.10,0.0,0.0,Feb,2,2,1,2,Returning_Visitor,False,False
2,0,0.0,0,0.0,1,0.000000,0.20,0.20,0.0,0.0,Feb,4,1,9,3,Returning_Visitor,False,False
3,0,0.0,0,0.0,2,2.666667,0.05,0.14,0.0,0.0,Feb,3,2,2,4,Returning_Visitor,False,False
4,0,0.0,0,0.0,10,627.500000,0.02,0.05,0.0,0.0,Feb,3,3,1,4,Returning_Visitor,True,False

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12330 entries, 0 to 12329
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Administrative           12330 non-null  int64
 1   Administrative_Duration  12330 non-null  float64
 2   Informational            12330 non-null  int64
 3   Informational_Duration   12330 non-null  float64
 4   ProductRelated           12330 non-null  int64
 5   ProductRelated_Duration  12330 non-null  float64
 6   BounceRates              12330 non-null  float64
 7   ExitRates                12330 non-null  float64
 8   PageValues               12330 non-null  float64
 9   SpecialDay               12330 non-null  float64
 10  Month                    12330 non-null  object
 11  OperatingSystems         12330 non-null  int64
 12  Browser                  12330 non-null  int64
 13  Region                   12330 non-null  int64
 14  TrafficType              12330 non-null  int64
 15  VisitorType              12330 non-null  object
 16  Weekend                  12330 non-null  bool
 17  Revenue                  12330 non-null  bool
dtypes: bool(2), float64(7), int64(7), object(2)
memory usage: 1.5+ MB

In [5]:
##The zscore function will calculate the z-score for every value in a particular column
## z-score is basically the distance between the value and the mean expressed in terms of standard-deviation
## value-mean = z-score*standard-deviation
def zscore(x,col):
    mean, std = np.mean(df[col]), np.std(df[col])
    return (x-mean)/std


##The cleaned_data function takes a dataframe as input and returns the same after removing observations with too many outliers
##We will consider a value having |z-score|>3 as an outlier
##The function calculates the number of outliers present in each observations
##It deletes the observations having more outliers than the specified threshold value

def cleaned_data(data,threshold=5):
    
    ##creating an array of all numeric features
    ##numerics=['int64','float64']
    ##num_cols=data.select_dtypes(include=numerics).columns
    num_cols=['Administrative','Administrative_Duration','Informational','Informational_Duration','ProductRelated',
              'ProductRelated_Duration','BounceRates','ExitRates','PageValues','SpecialDay']
    
    ##z_cols keeps track of the new columns created in the function
    z_cols=[]
    for col in num_cols:
        data[f'{col}_z']=(abs(data[col].apply(lambda x:zscore(x,col)))>3)
        z_cols.append(f'{col}_z')
        
    ##df['Total_Outliers'] contains the total number of outliers for every observation
    data['Total_Outliers']=np.sum(data[z_cols],axis=1)
    z_cols.append('Total_Outliers')
    
    ##delete observations with number of outliers greater than threshold
    data.drop(data[data['Total_Outliers']>threshold].index,axis=0,inplace=True)
    
    ##delete all columns created in this function
    data.drop(z_cols,axis=1,inplace=True)
    data.reset_index(inplace=True)
    data.drop('index',axis=1,inplace=True)
    
    return data

In [6]:
df=cleaned_data(df,threshold=3)

In [7]:
##Checking the number of rows in the cleaned data
df.shape[0]

12290

In [8]:
df.head()

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend,Revenue
0,0,0.0,0,0.0,1,0.000000,0.20,0.20,0.0,0.0,Feb,1,1,1,1,Returning_Visitor,False,False
1,0,0.0,0,0.0,2,64.000000,0.00,0.10,0.0,0.0,Feb,2,2,1,2,Returning_Visitor,False,False
2,0,0.0,0,0.0,1,0.000000,0.20,0.20,0.0,0.0,Feb,4,1,9,3,Returning_Visitor,False,False
3,0,0.0,0,0.0,2,2.666667,0.05,0.14,0.0,0.0,Feb,3,2,2,4,Returning_Visitor,False,False
4,0,0.0,0,0.0,10,627.500000,0.02,0.05,0.0,0.0,Feb,3,3,1,4,Returning_Visitor,True,False

In [9]:
##Splitting the data into training and testing halves
from sklearn.model_selection import StratifiedShuffleSplit
split=StratifiedShuffleSplit(n_splits=1,test_size=0.2,random_state=101)

for train_idx, test_idx in split.split(df,df['Revenue']):
    train=df.iloc[train_idx]
    test=df.iloc[test_idx]

In [10]:
train.head()

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend,Revenue
127,0,0.000000,0,0.0,10,225.466667,0.000000,0.050000,0.000000,0.4,Feb,1,1,8,3,Returning_Visitor,False,False
10303,0,0.000000,0,0.0,4,0.000000,0.200000,0.200000,0.000000,0.0,Nov,3,2,1,3,Returning_Visitor,False,False
5474,3,33.200000,0,0.0,10,278.433333,0.007143,0.026190,32.700345,0.0,Jul,2,2,6,1,Returning_Visitor,False,True
11525,5,262.121212,1,0.0,117,7468.860173,0.012900,0.020948,3.014026,0.0,Nov,3,2,1,2,Returning_Visitor,False,False
1639,0,0.000000,0,0.0,14,183.666667,0.000000,0.004762,0.000000,0.0,Mar,3,2,3,3,Returning_Visitor,False,False

In [11]:
test.head()

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend,Revenue
3182,0,0.0,0,0.0,0,0.000000,0.200000,0.200000,0.000000,0.0,May,2,2,8,3,Returning_Visitor,False,False
6327,3,84.5,0,0.0,346,12541.776280,0.001709,0.006473,5.177107,0.0,Aug,2,2,3,1,Returning_Visitor,True,True
2444,0,0.0,0,0.0,6,81.000000,0.080000,0.133333,0.000000,1.0,May,1,1,2,4,Returning_Visitor,True,False
3890,2,235.0,0,0.0,23,1193.000000,0.000000,0.008333,45.612500,0.0,May,3,2,7,2,New_Visitor,False,True
6278,8,89.9,3,20.0,84,1854.915556,0.004211,0.012386,3.170426,0.0,Jul,2,2,7,1,Returning_Visitor,False,False

In [12]:
##Necessary imports
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
##for continuous features
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
##for categorical features
from sklearn.preprocessing import OneHotEncoder

In [13]:
def numeric_pipeline(data):
    ##list of all numeric attributes in data
    num_attrs=data.select_dtypes(include=['int64','float64']).columns
    ##pipeline for numeric data tranformation
    num_pipeline=Pipeline([('impute',SimpleImputer(strategy='median')),
                          ('scale',StandardScaler(with_mean=False))])
    return num_attrs, num_pipeline

In [14]:
def data_transform(data):
    
    ##convert categories in the following categorical cols to string from int to avoid confusion
    cols=['OperatingSystems','Browser','Region','TrafficType','Weekend','Revenue']
    for col in cols:
        df[col]=df[col].astype(str)
        
    ##use numeric_pipeline func to get num_attrs and num_pipeline
    num_attrs, num_pipeline=numeric_pipeline(data)
    ##creating a list of categorical features
    cat_attrs=data.select_dtypes(exclude=['int64','float64']).columns
    
    ##sparse_threshold=0 ensures we main_pip always returns a dense array
    main_pip=ColumnTransformer([('num',num_pipeline,num_attrs),
                               ('cat',OneHotEncoder(),cat_attrs)],sparse_threshold=0)
    
    ##data in sparse matrix form
    my_data=main_pip.fit_transform(data)
    
    ##Creating labels for our data
    labels=[]
    for col in data.columns:
        if col in num_attrs:
            labels.append(col)
        else:
            labels.extend(np.sort([f'{col}_{x}' for x in df[col].unique()]))
            
    ##Creating a dataframe using the data and the labels
    transformed_df=pd.DataFrame(data=my_data,columns=labels)
    
    ##'Weekend' and 'Revenue' are boolean columns and hence can be represented by one column alone
    transformed_df.drop(['Revenue_False'],axis=1,inplace=True)
    
    ##Separating the dataframe into feature and label sets
    features, label=transformed_df.drop('Revenue_True',axis=1), transformed_df['Revenue_True']
    
    
    return features, label

In [15]:
##Creating features and label sets for train data
X_train, y_train=data_transform(train)

In [16]:
X_train.head()

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,...,Month_Sep,OperatingSystems,Browser,Region,TrafficType,VisitorType_New_Visitor,VisitorType_Other,VisitorType_Returning_Visitor,Weekend_False,Weekend_True
0,0.000000,0.000000,0.000000,0.0,0.242900,0.137090,0.000000,1.035526,0.00000,2.026388,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
1,0.000000,0.000000,0.000000,0.0,0.097160,0.000000,4.150848,4.142104,0.00000,0.000000,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
2,0.922185,0.198204,0.000000,0.0,0.242900,0.169296,0.148245,0.542418,1.73135,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
3,1.536975,1.564863,0.827889,0.0,2.841935,4.541287,0.267734,0.433847,0.15958,0.000000,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
4,0.000000,0.000000,0.000000,0.0,0.340061,0.111675,0.000000,0.098622,0.00000,0.000000,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0

In [17]:
y_train.head()

0    0.0
1    0.0
2    1.0
3    0.0
4    0.0
Name: Revenue_True, dtype: float64

In [18]:
##import all algorithms to be tested
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC

In [19]:
##import cross_val_score
from sklearn.model_selection import cross_val_score

In [20]:
##create a function to evaluate model
def model_evaluation(model,X,y,folds):
    scores=cross_val_score(estimator=model,X=X,y=y,cv=folds,scoring='accuracy')
    print(f'{str(model)}')
    print(f'scores: {scores}')
    print(f'mean_score: : {np.mean(scores)}')

In [21]:
##evaluating DecisionTreeClassifier()
model_evaluation(model=DecisionTreeClassifier(),X=X_train,y=y_train,folds=5)

DecisionTreeClassifier()
scores: [0.86120996 0.86222674 0.85961343 0.86571719 0.86113937]
mean_score: : 0.8619813390940342

In [22]:
##evaluating KNeighborsClassifier()
model_evaluation(model=KNeighborsClassifier(),X=X_train,y=y_train,folds=5)

KNeighborsClassifier()
scores: [0.88103711 0.87595323 0.8733469  0.88453713 0.87283825]
mean_score: : 0.8775425238717578

In [23]:
##evaluating SVC()
model_evaluation(model=SVC(),X=X_train,y=y_train,folds=5)

SVC()
scores: [0.89425521 0.88917133 0.89165819 0.90335707 0.88402848]
mean_score: : 0.8924940563033699

In [24]:
from sklearn.model_selection import GridSearchCV

In [25]:
##'C' introduces a penalty for every mis-classified point - High value of 'C' means greater variance - Low 'C' means high bias
##'kernel' specifies the kernel function for the classifier
##'degree' specifies the degree of the kernel if it is polynomial
param_grid={'C':np.linspace(0.2,0.4,2),
           'kernel':['poly'],
           'degree':[1,2,3]}

In [26]:
##Instantiating
gscv=GridSearchCV(estimator=SVC(),param_grid=param_grid,cv=5,verbose=4,scoring='accuracy')

In [27]:
##Fit with train data
gscv.fit(X_train,y_train)

Fitting 5 folds for each of 6 candidates, totalling 30 fits
[CV 1/5] END ......C=0.2, degree=1, kernel=poly;, score=0.886 total time=   1.1s
[CV 2/5] END ......C=0.2, degree=1, kernel=poly;, score=0.882 total time=   0.9s
[CV 3/5] END ......C=0.2, degree=1, kernel=poly;, score=0.886 total time=   0.9s
[CV 4/5] END ......C=0.2, degree=1, kernel=poly;, score=0.895 total time=   1.0s
[CV 5/5] END ......C=0.2, degree=1, kernel=poly;, score=0.878 total time=   1.0s
[CV 1/5] END ......C=0.2, degree=2, kernel=poly;, score=0.890 total time=   1.1s
[CV 2/5] END ......C=0.2, degree=2, kernel=poly;, score=0.883 total time=   1.0s
[CV 3/5] END ......C=0.2, degree=2, kernel=poly;, score=0.887 total time=   1.1s
[CV 4/5] END ......C=0.2, degree=2, kernel=poly;, score=0.893 total time=   1.0s
[CV 5/5] END ......C=0.2, degree=2, kernel=poly;, score=0.880 total time=   0.9s
[CV 1/5] END ......C=0.2, degree=3, kernel=poly;, score=0.890 total time=   1.2s
[CV 2/5] END ......C=0.2, degree=3, kernel=poly;, score=0.876 total time=   1.3s
[CV 3/5] END ......C=0.2, degree=3, kernel=poly;, score=0.885 total time=   1.4s
[CV 4/5] END ......C=0.2, degree=3, kernel=poly;, score=0.887 total time=   1.4s
[CV 5/5] END ......C=0.2, degree=3, kernel=poly;, score=0.880 total time=   1.3s
[CV 1/5] END ......C=0.4, degree=1, kernel=poly;, score=0.885 total time=   1.0s
[CV 2/5] END ......C=0.4, degree=1, kernel=poly;, score=0.884 total time=   1.1s
[CV 3/5] END ......C=0.4, degree=1, kernel=poly;, score=0.887 total time=   0.9s
[CV 4/5] END ......C=0.4, degree=1, kernel=poly;, score=0.895 total time=   1.4s
[CV 5/5] END ......C=0.4, degree=1, kernel=poly;, score=0.880 total time=   1.0s
[CV 1/5] END ......C=0.4, degree=2, kernel=poly;, score=0.894 total time=   1.1s
[CV 2/5] END ......C=0.4, degree=2, kernel=poly;, score=0.883 total time=   1.0s
[CV 3/5] END ......C=0.4, degree=2, kernel=poly;, score=0.892 total time=   1.3s
[CV 4/5] END ......C=0.4, degree=2, kernel=poly;, score=0.894 total time=   1.3s
[CV 5/5] END ......C=0.4, degree=2, kernel=poly;, score=0.879 total time=   1.3s
[CV 1/5] END ......C=0.4, degree=3, kernel=poly;, score=0.893 total time=   1.4s
[CV 2/5] END ......C=0.4, degree=3, kernel=poly;, score=0.879 total time=   1.3s
[CV 3/5] END ......C=0.4, degree=3, kernel=poly;, score=0.889 total time=   1.6s
[CV 4/5] END ......C=0.4, degree=3, kernel=poly;, score=0.888 total time=   1.5s
[CV 5/5] END ......C=0.4, degree=3, kernel=poly;, score=0.881 total time=   1.6s

GridSearchCV(cv=5, estimator=SVC(),
             param_grid={'C': array([0.2, 0.4]), 'degree': [1, 2, 3],
                         'kernel': ['poly']},
             scoring='accuracy', verbose=4)

In [28]:
##Check best hyper-parameter combination
gscv.best_params_

{'C': 0.4, 'degree': 2, 'kernel': 'poly'}

In [29]:
##Check the score of the best estimator
gscv.best_score_

0.8882221455645827

In [30]:
##Create best model
svc_classifier=SVC(C=0.4,degree=2,kernel='poly')

In [31]:
from sklearn.metrics import accuracy_score

In [32]:
##fitting the model with the train data
svc_classifier.fit(X_train,y_train)

SVC(C=0.4, degree=2, kernel='poly')

In [33]:
##writing a function to do all necessary transformations and evaluate the model

In [34]:
def final_evaluation(data, model):
    
    ##convert the test data into a dataframe if it is in dict format
    if type(data)==dict:
        ##convert the data into dataframe if in dict format
        data = pd.DataFrame(data)
    else:
        data = data
    
    ##pre-process the data using our custom function
    features, label=data_transform(data)
    
    ##make predictions using the model
    predictions=model.predict(features)
    
    ##roc_auc score for the model
    score=accuracy_score(label, predictions)
    
    return predictions, score

In [35]:
## evaluating model against test data
predictions, score = final_evaluation(test, svc_classifier)

In [36]:
predictions

array([0., 0., 0., ..., 0., 0., 0.])

In [37]:
score

0.887713588283157

In [1]:
data_transform(test[:10])

NameError: name 'data_transform' is not defined